/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #0A322B;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #0A322B;
}
::-webkit-scrollbar-thumb {
	background: #ffffff80;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #ffffff80 #0A322B;
}

/* Video Container */
.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    display: none;
}

#desktop-video {
    display: block;
}

@media (max-width: 768px) {
    #desktop-video {
        display: none;
    }
    #mobile-video {
        display: block;
    }
}

/* Button Styles */
.down-button {
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: #FFFFFF;
    background: transparent;
    border: none;
    cursor: pointer;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

/* Section Styles */
section {
    padding: 100px 20px;
    background-color: #0A322B;
    color: #FFFFFF;
}

/* About Chess Section */
#about-chess {
    background-color: #0A322B;
    margin-top: 50px;
	padding: 7.5%;
}
#about-chess h2, #about-chess h3 {
    text-align: center;
    font-size: 300%;
    color: #ffffffd3;
	padding: 0%;
}
#about-chess img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    height: auto;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.1);
    border-radius: 7.5px;
}
#about-chess ul {
    list-style-type: disc;
    padding-left: 20px;
}
#about-chess ul li {
    margin-bottom: 10px;
}

/* Play Chess Section */
#play-chess {
    background-color: #0A322B;
    margin-top: 50px;
	padding: 5%;
}


/* Card Styles */
.card-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    padding: 20px;
	padding-left: 16px;
    box-sizing: border-box;
}

/* Individual card */
.card {
    width: 300px;
	height: 350px;
    perspective: 1000px; 
    position: relative;
    cursor: pointer;
	margin: 5% 0;
}

h6 {
   margin: 0px;
   padding-right: 15px;
   font-size: 100px; /*Makes the peices on the cards bigger*/
}

/* Front and back sides of the card */
.card-front, .card-back {
    position: absolute;
    width: 300px;
	height: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    box-sizing: border-box;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

/* Front side of the card */
.card-front {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #FFFFFF;
    color: #0A322B;
}

/* Back side of the card */
.card-back {
    background-color: #0A322B;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    transform: rotateY(180deg);
}

/* Flip effect */
.card.flip .card-front {
    transform: rotateY(-180deg);
}

.card.flip .card-back {
    transform: rotateY(0deg);
}



/* Footer Styles */
footer {
    background-color: #0A322B;
    color: #ffffffd3;
    font-size: 15px;
    text-align: center;
    padding: 1%;
    position: static;
    bottom: 0;
    width: auto;
}

footer a {
    color: #ffffffd3;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bolder;
}
